.bash_profile
terraform.tfvars
*/*/terraform.tfvars
azure/terraform/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
.terraform
.terraform*
terraform
terraform*
*/*mykey*
*/*.out
*/private_ips*
*/*.json
gcp/terraform.tfvars
gcp/*/terraform.tfvars
gcp/*/terraform.tfstate
gcp/*/terraform.tfstate.backup
gcp/*/.terraform
gcp/*/*mykey*
gcp/*/*.out
gcp/*/private_ips*
gcp/*/*.json
