# place this file in /lib/systemd/system/plasma.service
[Unit]
Description=Plasma

[Service]
Environment="SCRIPT_ARGS=%I"
ExecStart=/root/go/src/github.com/wolkdb/plasma/build/bin/plasma $SCRIPT_ARGS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process


[Install]
WantedBy=multi-user.target
