#Service Configuration 
define service {
	hostgroup_name		1-Development,2-Web,4-GC,5-CEPH,3-LOG
	service_description	PING
	servicegroups		PING
	check_command		check_ping!200,10%!250,15%
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}

define service {
	hostgroup_name		1-Development,2-Web,4-GC,5-CEPH,3-LOG
	service_description	SSH
	servicegroups		SSH
	check_command		check_ssh
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}

define service {
	hostgroup_name		2-Web
	service_description	HTTP
	servicegroups		HTTP
	check_command		check_http
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}

define service {
#	hostgroup_name		1-Development
	host_name		D5
	service_description	HTTPS
	servicegroups		HTTPS
	check_command		check_https
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}

define service {
	hostgroup_name		4-GC
	service_description	WOLK
	servicegroups		WOLK
	check_command		check_wolk
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}
define service {
	hostgroup_name		4-GC
        service_description     WOLK1
        servicegroups     	WOLK1
        check_command           check_wolk1
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}
define service {
	hostgroup_name		4-GC
        service_description     WOLK2
        servicegroups     	WOLK2
        check_command           check_wolk2
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}
define service {
	hostgroup_name		4-GC
        service_description     WOLK3
        servicegroups     	WOLK3
        check_command           check_wolk3
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}
#define service {
#	hostgroup_name		4-GC
#        service_description     WOLK5
#        servicegroups     	WOLK5
#        check_command           check_wolk5
#	max_check_attempts	5
#	check_interval	5
#	retry_interval	3
#	check_period		24x7
#	contacts		slack,admin
#	}

define service {
	hostgroup_name		1-Development,2-Web,4-GC,3-LOG
        service_description     SYSLOG
        servicegroups     	SYSLOG
        check_command           check_syslog_ng
	max_check_attempts	5
	check_interval	5
	retry_interval	3
	check_period		24x7
	contacts		slack,admin
	}
define service {
        hostgroup_name          1-Development,2-Web,4-GC,5-CEPH,3-LOG
        service_description     DISK
        servicegroups     	DISK
        #check_command           check_remote_disk!25%!10%
        check_command           check_remote_disk!75%!70%
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
        }
define service {
        hostgroup_name          1-Development,2-Web,4-GC,5-CEPH,3-LOG
        service_description     LOAD
        servicegroups     	LOAD
        check_command           check_remote_load
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
        }
define service {
        hostgroup_name          1-Development,2-Web,4-GC,3-LOG,5-CEPH
        service_description     CRON
        servicegroups     	CRON
        check_command           check_crond
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
        }
#define service {
#        hostgroup_name          1-Development,2-Web,4-GC,3-LOG
#	host_name		consensus-wolk-8-gc-us-west1-datastore
#        service_description     SHIM
#        servicegroups           SHIM
#        check_command           check_shim
#        max_check_attempts      5
#        check_interval  5
#        retry_interval  3
#        check_period            24x7
#        contacts                slack,admin
#        }

#cephy
define service {
        host_name		cephy1,cephy2,cephy3
        service_description     cephy-health
        servicegroups           CEPHY-HEALTH
        check_command           check_cephy_health
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephy1,cephy2,cephy3
        service_description     cephy-mon
        servicegroups           CEPHY-MON
        check_command           check_cephy_mon
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephy1,cephy2,cephy3
        service_description     cephy-osd
        servicegroups           CEPHY-OSD
        check_command           check_cephy_osd
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephy1,cephy2,cephy3
        service_description     cephy-df
        servicegroups           CEPHY-DF
        check_command           check_cephy_df
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephy1,cephy2,cephy3
        service_description     cephy-mgr
        servicegroups           CEPHY-MGR
        check_command           check_cephy_mgr
        max_check_attempts      5
        check_interval  z5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}

#cephz
define service {
	host_name		cephz1,cephz2,cephz3
        service_description     cephz-health
        servicegroups           CEPHZ-HEALTH
        check_command           check_ceph_health
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephz1,cephz2,cephz3
        service_description     cephz-mon
        servicegroups           CEPHZ-MON
        check_command           check_cephz_mon
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephz1,cephz2,cephz3
        service_description     cephz-osd
        servicegroups           CEPHZ-OSD
        check_command           check_cephz_osd
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephz1,cephz2,cephz3
        service_description     cephz-df
        servicegroups           CEPHZ-DF
        check_command           check_cephz_df
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
define service {
        host_name               cephz1,cephz2,cephz3
        service_description     cephz-mgr
        servicegroups           CEPHZ-MGR
        check_command           check_cephz_mgr
        max_check_attempts      5
        check_interval  5
        retry_interval  3
        check_period            24x7
        contacts                slack,admin
}
