[Unit]
Description=Plasma SQL Chain
Requires=network.target

[Service]
;Type=forking
;EnvironmentFile=/etc/sysconfig/sql
User=root
LimitNOFILE=1000000
ExecStart=/bin/bash -c 'exec /root/sql/bin/sql --datadir /root/sql/qdata/dd --nodiscover --rpc --rpcaddr 0.0.0.0 --rpcapi admin,db,eth,debug,miner,net,shh,txpool,personal,web3,quorum,sql,raft --emitcheckpoints --raftport 50404 --rpcport 22003 --port 21003 --rpccorsdomain=* --rpcvhosts=* --plasmaaddr sanmateo.wolk.com --plasmaport 32003 --unlock 0 --verbosity 6 --raft 2>> /root/sql/qdata/sql.log'
ExecReload=/bin/kill -HUP $MAINPID
StandardOutput=null
StandardError=null
Restart=on-failure
;Restart=always

[Install]
WantedBy=multi-user.target
